body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    padding: 0 !important;
    line-height: 60px;

    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #E5E5E5;
}

footer p {
    margin: 0;
}
